<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.btvideo">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>


    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_vplayer"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.demo.btvideo.ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.VideoDetialsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
<!--        <activity android:name=".ui.activity.PersionalInfoActivity" />-->
        <activity android:name=".ui.activity.UploadHeadActivity" />
        <activity android:configChanges="orientation|keyboardHidden|screenSize"
            android:name=".ui.activity.UploadVideoAcivity" />
        <activity android:name=".ui.activity.MessageActivity" />
        <activity android:name=".ui.activity.UserInfoCenterActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.CollectionActivity" />
        <activity android:name=".ui.activity.UploadHistoryActivity" />
        <activity android:name=".ui.activity.AttctionActivity" />
        <activity android:name=".ui.activity.AboutActivity" />
        <activity android:name=".ui.activity.VipActivity" />
        <activity android:name=".ui.activity.FunsActivity" />
        <activity android:name=".ui.activity.PlayHistoryActivity" />
        <activity android:name=".ui.activity.EditInfoActivity" />
        <activity android:name=".ui.activity.SearchActivity" />
        <service android:name=".UploadService" />
    </application>

</manifest>